<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission-sdk-23 android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="30">
        <activity
            android:name=".View.PlayMovie"
            android:theme="@style/PlayMovieTheme"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|layoutDirection|screenLayout"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".View.LoginPackage.ForgetPassActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UserPackage.Notification.NotificationContentView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UserPackage.Notification.NotificationsView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SearchPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".View.PlayingTrailer"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".View.PersonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UserPackage.Settings.LanguageSettingView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.LoginPackage.PreLoginView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UserPackage.Settings.ModeSettingView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UserPackage.Settings.SettingsView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.LoginPackage.RegisterView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UserPackage.UserInfomation.UpdateUser_Information"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UserPackage.UserInfomation.User_Infomation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.LoginPackage.LoginViewActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.PlayingFilm"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|layoutDirection|screenLayout"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:taskAffinity="" />
        <activity
            android:name=".View.MovieInfomation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name=".View.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Services.DownloadReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="DownloadManager.ACTION_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="notify" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/small_notify_icon" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>